<!--
 This template loads for the 'tab.friend-detail' state (app.js)
 'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
 The FriendsCtrl pulls data from the Friends service (service.js)
 The Friends service returns an array of friend data
 -->

<ion-view view-title="{{kementrian}}">
    <ion-content class="padding">
<div class="list card">
    <div class="item item-divider">{{kementrian}} : {{title}}</div>
    <div class="item item-body">
        <div>
            <ion-item ng-repeat="indikator in indikators">
                <div>
                    {{indikator.subject}}
                </div>
            </ion-item>
        </div>
    </div>
</div>

</ion-content>
    </ion-view>