<ion-view view-title="Indonesia Command Center ™">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Indikator Vital Kesejahteraan Rakyat</div>
      <div class="item item-body">
          <div>
              <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
              </ion-refresher>
              <ion-list>

          <ion-item ng-repeat="indikator in indikators" href="#/tab/dash/{{indikator.trend}}">
              <div ng-class="{'bar bar-header bar-assertive':{{indikator.trend==1}}, 'bar bar-header': {{indikator.trend==2 || indikator.trend==3}}}">
                  {{indikator.title}}
              </div>
          </ion-item>
              </ion-list>

                  </div>
      </div>
    </div>
    
    <div class="list card">
      <div class="item item-divider">Indikator Kinerja Kementrian</div>
      <div class="item item-body">
        <div>
          <ion-item>
              <div class='bar bar-header'>
              KKP mencapai target kerja 80%
              </div>
          </ion-item>
        </div>
        <div>
          <ion-item>
              <div class='bar bar-header'>
                  Kemendag mencapai target kerja 50%
              </div>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Agenda Blusukan</div>
      <div class="item item-body">
        <div>
            Temu wicara dengan petani Subang dalam 15 hari lagi
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
